services:
  web:
    build: .
    volumes:
      - .:/app
      - media_data:/app/media
    ports:
      - "8000:8000"
    depends_on:
      - db
    env_file:
      - .env
    environment:
      - SQL_HOST=db
      - SQL_PORT=5432
      - SQL_DATABASE=sgpal_db
      - SQL_USER=sgpal_user
      - SQL_PASSWORD=Sgpal2025Secure*
      - DEBUG=True

  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_USER=sgpal_user
      - POSTGRES_PASSWORD=Sgpal2025Secure*
      - POSTGRES_DB=sgpal_db

volumes:
  postgres_data:
  media_data:
